body {
	background: #f1f1f1;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

/* NAVBAR */
.navbar-page {
  color: #ffffff;
  background-color: #1b396a;
}

.icon-navbar {
  width: 40px;
  height: 40px;
}

.nav-link {
  color: #ffffff;
  font-weight: 500;
}

.btn-main {
    color: #ffffff;
    background-color: #1b396a;
    border-color: #1b396a;
}
  
  .btn-main:hover {
    color: #ffffff;
    background-color: #0f2850;
    border-color: #0f2850;
  }

  .btn-main:focus, .btn-main.focus {
    box-shadow: 0 0 0 0.2rem rgba(27, 57, 106, 0.2);
  }
  
  .btn-main.disabled, .btn-main:disabled {
    color: #fff;
    background-color: #0f2850;
    border-color: #0f2850;
  }
  
  .btn-main:not(:disabled):not(.disabled):active, .btn-main:not(:disabled):not(.disabled).active,
  .show > .btn-main.dropdown-toggle {
    color: #fff;
    background-color: #0f2850;
    border-color: #0f2850;
  }
  
  .btn-main:not(:disabled):not(.disabled):active:focus, .btn-main:not(:disabled):not(.disabled).active:focus,
  .show > .btn-main.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(27, 57, 106, 0.2);
  }



.centered-table-title {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.form-control-page {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control-page {
    transition: none;
  }
}

.form-control-page::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control-page:focus {
  color: #495057;
  background-color: #fff;
  border-color: #4f0b0b;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(117, 0, 0, 0.2);
}

.form-control-page::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control-page::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control-page:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control-page::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control-page::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control-page:disabled, .form-control-page[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control-page:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-control-page-file,
.form-control-page-range {
  display: block;
  width: 100%;
}