body {
	background: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

header {
	background: #4f0b0b;
	padding: 1px 0;
}

#header-contact{
    background: #4f0b0b;
    text-align: center;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 12px;
}

#header-nav{
    background: #ffffff;
}

#tecnologico-icon{
    width: 185px;
    height: 80px;
}

#about-text{
    color: gray;
    font-weight: 100;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
    margin-top: 20px;
}

#text-footer{
    background: #4f0b0b;
    text-align: center;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

.btn-page-theme {
    color: #4f0b0b;
    background-color: #fff;
    border-color: #4f0b0b;
}
  
  .btn-page-theme:hover {
    color: #fff;
    background-color: #4f0b0b;
    border-color: #4f0b0b;
  }

  .btn-page-theme:focus, .btn-page-theme.focus {
    box-shadow: 0 0 0 0.2rem rgba(117, 0, 0, 0.2);
  }
  
  .btn-page-theme.disabled, .btn-page-theme:disabled {
    color: #fff;
    background-color: #4f0b0b;
    border-color: #4f0b0b;
  }
  
  .btn-page-theme:not(:disabled):not(.disabled):active, .btn-page-theme:not(:disabled):not(.disabled).active,
  .show > .btn-page-theme.dropdown-toggle {
    color: #fff;
    background-color: #4f0b0b;
    border-color: #4f0b0b;
  }
  
  .btn-page-theme:not(:disabled):not(.disabled):active:focus, .btn-page-theme:not(:disabled):not(.disabled).active:focus,
  .show > .btn-page-theme.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(117, 0, 0, 0.2);
  }

.btn-page-theme-2 {
    color: #ffffff;
    background-color: #4f0b0b;
    border-color: #4f0b0b;
}
  
  .btn-page-theme-2:hover {
    color: #ffffff;
    background-color: #940000;
    border-color: #4f0b0b;
  }

  .btn-page-theme-2:focus, .btn-page-theme-2.focus {
    box-shadow: 0 0 0 0.2rem rgba(117, 0, 0, 0.2);
  }
  
  .btn-page-theme-2.disabled, .btn-page-theme-2:disabled {
    color: #fff;
    background-color: #4f0b0b;
    border-color: #4f0b0b;
  }
  
  .btn-page-theme-2:not(:disabled):not(.disabled):active, .btn-page-theme-2:not(:disabled):not(.disabled).active,
  .show > .btn-page-theme-2.dropdown-toggle {
    color: #fff;
    background-color: #4f0b0b;
    border-color: #4f0b0b;
  }
  
  .btn-page-theme-2:not(:disabled):not(.disabled):active:focus, .btn-page-theme-2:not(:disabled):not(.disabled).active:focus,
  .show > .btn-page-theme-2.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(117, 0, 0, 0.2);
  }

.centered-table-title {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.form-control-page {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control-page {
    transition: none;
  }
}

.form-control-page::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control-page:focus {
  color: #495057;
  background-color: #fff;
  border-color: #4f0b0b;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(117, 0, 0, 0.2);
}

.form-control-page::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control-page::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control-page:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control-page::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control-page::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control-page:disabled, .form-control-page[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control-page:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-control-page-file,
.form-control-page-range {
  display: block;
  width: 100%;
}